@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

*{
    font-family: "Roboto";
    /* box-shadow: 0 0 0 1px green; */
}
:root {
  display: flex;
  padding: 1em;
  border: 1px solid black;
}

:host {
  display: block;
  height: 50px;
  width: 50px;
  border: 1px solid red;
  padding: 1em;
}